body{
    margin:0;

}
header {
    background-color: orange;
    height: 13.5vh;
    box-shadow: 10px 5px 5px lightgrey;
}

#wrapper {
    height: 86.5vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}
#todo-list{
    height: 80vh;
    display: flex;
    flex-direction:column;

}
form{
    background-color: #e5e6e8;
    height: 14em;
    width:100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}
#name{
    width: 90%;
    height: 2.5em;
    font-size: 3em;
    border:none;
    border-radius: 20px;

}
#addButton{
    background-color: orange;
    color: white;
    border-radius: 55%;
    border:none;
    height:5em;
    font-weight: bold;
}
.task{
    font-size: 50px;
}